name: Test Python functions

on:
  pull_request:
    branches:
      - master
    paths:
      - '**/*.py'
      - '**/*.cpp'
      - '**/*.h'

jobs:
  run_unix_tests:
    name: Run Python tests on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Clang
        run: |
          sudo apt update
          sudo apt-get install -y clang

      - name: Set environment variables for Clang
        run: |
          export CC=$(which clang)
          export CXX=$(which clang++)
          echo $CC
          echo $CXX
          clang --version 
          clang++ --version

      - name: Get sources
        run: |
          mkdir -p checkout
          chmod +x ./get_sources 
          ./get_sources
        working-directory: ./package

      - name: Install NucleoFind
        run: pip install .
        working-directory: ./package

      - name: Install pytest
        run: pip install pytest

      - name: Install NucleoFind models
        run: |
          nucleofind-install -m core
          nucleofind-install -m nano

      - name: Run tests
        run : pytest tests
        working-directory: ./package

  run_windows_tests:
    name: Run Python tests on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64

      - name: Get sources
        run: |
          mkdir checkout
          sh get_sources
        working-directory: ./package

      - name: Install NucleoFind
        run: pip install .
        working-directory: ./package

      - name: Install pytest
        run: pip install pytest

      - name: Install NucleoFind models
        run:  |
          nucleofind-install -m nano
          nucleofind-install -m core

      - name: Run tests
        run : pytest tests
        working-directory: ./package


  debug:
      needs: [run_unix_tests, run_windows_tests]
      runs-on: ubuntu-latest
      if: ${{ failure() }}
      steps:
        - uses: actions/checkout@v3
        - name: Notify chat
          uses: teknatha136/actions-google-chat-text-message@main
          with:
            google-chat-webhook: ${{ secrets.WEBHOOK_URL }}
            text-message: ${{ github.actor }} attempted to merge a change into NucleoFind, but this PR failed testing. Link ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} \n